
/target/


settings.toml

/input_media/*
!/input_media/.gitkeep

/raw_shapes/*
!/raw_shapes/.gitkeep

/input_shapes/*
!/input_shapes/.gitkeep

/output/*
!/output/.gitkeep

.idea/
.vscode/
*.swp
*.swo
*~
*.suo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db